@using FinApp.ViewModels
@model MontlyBudgetPlannerVM

@{
    ViewData["Title"] = "Index";
}
<h2>Budget Planner - current month</h2>
<div>
    <p class="lh-sm m-2">
        This tab displays your expenses for the current month.

    </p>
</div>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            The <span class="fw-bold">Paid</span> checkbox is disabled.
            To select it, go to the <span class="fw-bold">Edit</span> action and check it.
            After saving, it will remain checked in this tab, but the checkbox will still be
            disabled.
        </li>
        <li class="list-group-item">
            The <span class="fw-bold">Add a New Row</span> button: add an
            expense for the current month. It will not be added to yearly expenses. This button is
            intended for unexpected expenses.
        </li>
    </ul>
   
</div>
<div>
    <p class="lh-sm m-2">
        Each bank account/expense has two actions: <span class="fw-bold">Edit</span> and <span class="fw-bold">Delete</span>.
        You can either delete or edit the bank account/expense. Delete action is irreversible.
    </p>
</div>
<h2>Period: @Model.MonthName, @Model.YearName</h2>
<div>
    <p></p>
</div>
<table class="table table-hover table-success ">
    <thead>
        <tr>
            <th>Bank or Expense name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Paid</th>
            <th>Which bank account or cash will be used for the payment?</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model.BankAccounts)
        {
            <tr class="table-success position-relative ">
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.Description</td>
                <td></td>
                <td></td>
                <td>
                    <form class="" asp-controller="BankAccount" method="post">
                        <button class="btn  dropdown-toggle  position-absolute top-0 end-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-controller="BankAccount" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a class="btn dropdown-item btn-outline-danger " data-bs-toggle="modal" data-bs-target="#confirmDeleteModalExpenses-@item.Id">Delete</a></li>

                        </ul>
                    </form>
                </td>
            </tr>
            //Modal
            <div class="modal fade" id="confirmDeleteModalExpenses-@item.Id" tabindex="-1" aria-labelledby="confirmDeleteModalBank" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalBank">Delete confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form asp-controller="BankAccount" asp-action="Delete" method="post">
                                @Html.AntiForgeryToken()
                                <input class="btn btn-danger" asp-controller="BankAccount" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Delete" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.CurrentMonths)
        {
            <tr class="@(item.IsPaidExpense ? "table-success" : "table-warning") position-relative">
                <td>@item.Name</td>
                <td>@item.RemainingAmount</td>
                <td>@item.Description</td>
                <td>
                    <input type="checkbox" @(item.IsPaidExpense ? "checked" : "") disabled />
                </td>
                <td>@item.BankAccountName</td>
                <td>
                    <form class="" asp-controller="CurrentMonth" method="post">

                        <button class="btn dropdown-toggle position-absolute top-0 end-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li> <a class="btn dropdown-item btn-outline-warning" asp-controller="CurrentMonth" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a class="btn dropdown-item btn-outline-danger " data-bs-toggle="modal" data-bs-target="#confirmDeleteCurrentExpenses-@item.Id">Delete</a></li>
                        </ul>
                    </form>
                </td>
            </tr>
            <div class="modal fade" id="confirmDeleteCurrentExpenses-@item.Id" tabindex="-1" aria-labelledby="confirmDeleteCurrentMonth" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteCurrentMonth">Delete confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                            <form asp-controller="CurrentMonth" asp-action="Delete" method="post">
                                @Html.AntiForgeryToken()
                                <input class="btn btn-danger " asp-controller="CurrentMonth" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Delete" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        <tr>
            <td class="fw-bold">Sum of expenses</td>
            <td></td>
            <td>@Model.CurrentMonthBalance</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="fw-bold">Account balance</td>
            <td></td>
            <td>@Model.BankAccountsBalance</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success" asp-controller="CurrentMonth" asp-route-id="@Model.CurrentMonths" asp-action="Create">Add a new row</a>



